# vim: set filetype=yaml :
---
location:
  source_directories:
    - ~/projects
    - ~/Documents
    - ~/Media
    - ~/Pictures

  repositories:
    - /Volumes/money/borgbackup
    - "{{if .borg_repo}}{{.borg_repo}}{{end}}"

  exclude_patterns:
    - "*.pyc"
    - ~/*/.cache
    - /home/*/.cache/*
    - /var/cache/*
    - /var/tmp/*
    - .DS_Store
    - .nzb
    - "*.url"
    - "*.webloc"
    - Thumbs.db
    - .Trashes*
    - .fseventsd*
    - */Downloads-Music/*

  exclude_if_present: .nobackup
  one_file_system: true

storage:
  compression: auto,zstd
  archive_name_format: "johnny-{now}"
  encryption_passphrase: "{{if .borg_secret}}{{ .borg_secret}}{{end}}"
  extra_borg_options:
    create: --list --filter AME

retention:
  keep_daily: 7
  keep_weekly: 4
  keep_monthly: 12
  keep_yearly: 10
  prefix: "johnny"

consistency:
  check_last: 3
  prefix: "johnny"
  check_repositories:
    - /Volumes/money/borgbackup
  checks:
    - disabled
#     - name: data
#       frequency: 1 month
#     - name: repository
#       frequency: 2 weeks

hooks:
  before_backup:
    - echo "`date` - Starting backup"

  after_backup:
    - echo "`date` - Finished backup"

  before_check:
    - echo "`date` - starting checks"

  after_check:
    - echo "`date` - finished checks"
