{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $github_secret := get . "github_secret" -}}
{{- if not $github_secret -}}
{{-   $github_secret = (onepassword "Homebrew Github Token").details.password -}}
{{- end -}}

{{- $slack_secret := get . "slack_secret" -}}
{{- if not $slack_secret -}}
{{-    $slack_secret = promptString "Slack secret" -}}
{{- end -}}

{{- $personal := false -}}
{{- if (hasKey . "personal") -}}
{{-   $personal = get . "personal" -}}
{{- else -}}
{{-   $personal = promptString "Personal Machine? true|false" -}}
{{- end -}}

{{- $work_email := get . "work_email" -}}
{{- if (and (not $personal) (not $work_email)) -}}
{{-   $work_email = promptString "work email" -}}
{{- end -}}

{{- $borg_secret := get . "borg_secret" -}}
{{- $rclone_kms := get . "rclone_kms" -}}
{{- $rclone_profile := get . "rclone_profile" -}}
{{- if $personal -}}
{{-	if not $borg_secret -}}
{{-	    $borg_secret = (onepassword "borg").details.password -}}
{{-	end -}}

{{-	if not $rclone_kms -}}
{{-	    $rclone_kms = (onepassword "rclone_kms").details.password -}}
{{-	end -}}

{{- if not $rclone_profile -}}
{{- $rclone_profile = promptString "rclone AWS profile" -}}
{{- end -}}
{{- end -}}

{{- /*
These are stored as passwords because I couldn't get chezmoi's integration with op working correctly.
I'm not sure, but it seems like the schema that op returns is different and no longer contains designation.
*/ -}}

{{- $bartender2license := get . "bartender2license" -}}
{{- if not $bartender2license -}}
{{-	$bartender2license = (onepassword "Bartender 2 License").details.password -}}
{{- end -}}

{{- $bartender4license := get . "bartender4license" -}}
{{- if not $bartender4license -}}
{{-	$bartender4license = (onepassword "Bartender 4 License").details.password -}}
{{- end -}}

[data]
email             = {{ $email | quote }}
work_email        = {{ $work_email | quote }}
github_secret     = {{ $github_secret | quote }}
slack_secret      = {{ $slack_secret | quote }}
bartender2license = {{ $bartender2license | quote }}
bartender4license = {{ $bartender4license | quote }}

personal          = {{ $personal }}
borg_secret       = {{ $borg_secret | quote }}
rclone_kms        = {{ $rclone_kms | quote }}
rclone_profile    = {{ $rclone_profile | quote }}

[diff]
exclude = ["scripts"]
