[user]
name = Johnny Sheeley
email = {{ .email | quote }}
[color]
ui = auto
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
[color "status"]
added = yellow
changed = green
untracked = cyan
[color]
ui = true
[color "diff"]
whitespace = red reverse
[core]
whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
excludesfile = ~/.gitignore
autocrlf = input
editor = vim
[branch]
autosetuprebase = always
[alias]
st = status
ci = commit
br = branch
co = checkout
df = diff
dc = diff --cached
lg = log -p
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
ls = ls-files
pl = pull -rebase
pf = push --force-with-lease
pn = push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
softreset = reset --soft HEAD^1
uncommit = reset --soft HEAD^
unstage = reset
staged = diff --cached
[diff]
tool = diffmerge
[merge]
tool = diffmerge
[difftool]
prompt = false
[mergetool]
prompt = false
keepBackup = false

[difftool "diffmerge"]
cmd = "/Applications/DiffMerge.app/Contents/Resources/diffmerge.sh -t2=\"LOCAL-$REMOTE\" -t1=\"REMOTE-$REMOTE\" \"$LOCAL\" \"$REMOTE\""
[mergetool "diffmerge"]
cmd = "/Applications/DiffMerge.app/Contents/Resources/diffmerge.sh -t1=LOCAL-$LOCAL -t2=\"MERGED FILE\" -t3=REMOTE-$REMOTE --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
trustExitCode = false

[push]
default = simple
[rerere]
enabled = true
# [pager]
# log = diff-highlight | less
# show = diff-highlight | less
# diff = diff-highlight | less
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
[http "https://gopkg.in"]
followRedirects = true
[http "https://pkg.re"]
followRedirects = true
[url "ssh://git@github.com/"]
insteadOf = https://github.com/
{{ if not .personal -}}
[url "ssh://git@jaxf-github.fanatics.corp/"]
insteadOf = https://jaxf-github.fanatics.corp/
{{- end }}
[diff "plist"]
textconv = plutil -convert xml1 -o -
[pull]
rebase = true
[init]
defaultBranch = main
