[Unit]
Description=Send Systemd Notifications to Email

[Service]
Type=oneshot
ExecStart=/bin/send-notification %i

[Install]
WantedBy=multi-user.target
